repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude_types: [json, binary]
  - repo: https://github.com/PyCQA/isort
    rev: "5.11.4"
    hooks:
      - id: isort
        additional_dependencies: [toml]
        exclude: docs/tutorials
  - repo: https://github.com/psf/black
    rev: "22.12.0"
    hooks:
      - id: black-jupyter
  - repo: https://github.com/kynan/nbstripout
    rev: "0.6.1"
    hooks:
      - id: nbstripout
        exclude: docs/benchmarks.ipynb
  - repo: https://github.com/hadialqattan/pycln
    rev: "v2.1.2"
    hooks:
      - id: pycln
        additional_dependencies: ["click<8.1.0"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.991"
    hooks:
      - id: mypy
